/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$gruen: #4f871a;
$tomato: #ea3131;
$light-grey-blue: #aebac6;
$blue: #0055af;
$dark-blue: #036;
$light-periwinkle: #d6dadf;
$shadow: rgba(214, 218, 223, 0.61);
$very-light-blue: #e9ebed;
$button-hover: #007cff;
$text-grey: #5a5a5a;
$grey: #f8f8f8;
$dark-grass-green-70: rgba(62, 130, 8, 0.7);
$color-light-blue: #76a4d4;
$pistachio-70: rgba(183, 240, 137, 0.7);
$faded-orange-70: rgba(247, 136, 67, 0.7);
$light-grey-2: #f2f5f7;
$light-grey: #e5ebf0;

/* Components */
